body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #2c3e50;
}

button {
  background: #27ae60;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;

}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-top: 30px;
}

h3 {
  margin-top: 25px;
  color: #2c3e50;
}

.provider {
  border: 1px solid #ddd;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  background: #fafafa;
}

.provider h4 {
  margin: 0 0 5px 0;
}

.provider p {
  margin: 3px 0;
  font-size: 14px;
}
